# 6.1 Sourcing Open Data
# US Births - Data Cleaning, Wrangling and Descriptive Analysis

## This script contains:

## 01. Import Libraries and Data
## 02. Exploring/Descriptive Analysis
## 03. Data Wrangling
## 04. Data Quality/Consistency
## 05. Exporting Data Frame

## 01. Import Libraries and Data

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# Folder Path

path = r'/Users/sanyamohsini/Desktop/CareerFoundry_Data Analytics/Achievement 6'

In [4]:
path

'/Users/sanyamohsini/Desktop/CareerFoundry_Data Analytics/Achievement 6'

In [5]:
# Import us_births.csv

us_births = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'us_births_2016_2021.csv'), index_col = False)

## 02. Exploring / Descriptive Analysis

In [6]:
us_births.head()

,State,State Abbreviation,Year,Gender,Education Level of Mother,Education Level Code,Number of Births,Average Age of Mother (years),Average Birth Weight (g)
0,Alabama,AL,2016,F,8th grade or less,1,1052,27.8,3116.9
1,Alabama,AL,2016,F,9th through 12th grade with no diploma,2,3436,24.1,3040.0
2,Alabama,AL,2016,F,High school graduate or GED completed,3,8777,25.4,3080.0
3,Alabama,AL,2016,F,"Some college credit, but not a degree",4,6453,26.7,3121.9
4,Alabama,AL,2016,F,"Associate degree (AA, AS)",5,2227,28.9,3174.3

In [7]:
us_births.tail()

,State,State Abbreviation,Year,Gender,Education Level of Mother,Education Level Code,Number of Births,Average Age of Mother (years),Average Birth Weight (g)
5491,Wyoming,WY,2021,M,"Associate degree (AA, AS)",5,401,29.2,3261.1
5492,Wyoming,WY,2021,M,"Bachelor's degree (BA, AB, BS)",6,657,30.7,3286.0
5493,Wyoming,WY,2021,M,"Master's degree (MA, MS, MEng, MEd, MSW, MBA)",7,261,33.0,3249.3
5494,Wyoming,WY,2021,M,"Doctorate (PhD, EdD) or Professional Degree (M...",8,72,33.3,3262.0
5495,Wyoming,WY,2021,M,Unknown or Not Stated,-9,41,29.2,3177.5

In [8]:
us_births.shape

(5496, 9)

In [9]:
us_births.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5496 entries, 0 to 5495
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          5496 non-null   object
 1   State Abbreviation             5496 non-null   object
 2   Year                           5496 non-null   int64
 3   Gender                         5496 non-null   object
 4   Education Level of Mother      5496 non-null   object
 5   Education Level Code           5496 non-null   int64
 6   Number of Births               5496 non-null   int64
 7   Average Age of Mother (years)  5496 non-null   float64
 8   Average Birth Weight (g)       5496 non-null   float64
dtypes: float64(2), int64(3), object(4)
memory usage: 386.6+ KB

In [10]:
us_births.columns

Index(['State', 'State Abbreviation', 'Year', 'Gender',
       'Education Level of Mother', 'Education Level Code', 'Number of Births',
       'Average Age of Mother (years)', 'Average Birth Weight (g)'],
      dtype='object')

In [11]:
# describing data 
us_births.describe()

,Year,Education Level Code,Number of Births,Average Age of Mother (years),Average Birth Weight (g)
count,5496.000000,5496.000000,5496.000000,5496.000000,5496.000000
mean,2018.500728,3.026201,4115.443959,29.552274,3250.887627
std,1.707554,4.733406,6687.036797,2.779735,114.456090
min,2016.000000,-9.000000,10.000000,23.100000,2451.900000
25%,2017.000000,2.000000,559.000000,27.500000,3182.200000
50%,2019.000000,4.000000,1692.000000,29.600000,3256.000000
75%,2020.000000,6.000000,5140.000000,31.800000,3330.825000
max,2021.000000,8.000000,59967.000000,35.500000,3585.700000

## 03. Data Wrangling

In [12]:
# Renaming us_customer columns (shortening/ clarifying)
us_births.rename(columns = {'State Abbreviation' : 'State_abbrev'}, inplace = True)

In [13]:
us_births.rename(columns = {'Gender' : 'Gender_baby'}, inplace = True)

In [14]:
us_births.rename(columns = {'Education Level of Mother' : 'Education_level'}, inplace = True)

In [15]:
us_births.rename(columns = {'Education Level Code' : 'Education_code'}, inplace = True)

In [16]:
us_births.rename(columns = {'Number of Births' : 'Births'}, inplace = True)

In [17]:
us_births.rename(columns = {'Average Age of Mother (years)' : 'Avg_age_mother'}, inplace = True)

In [18]:
us_births.rename(columns = {'Average Birth Weight (g)' : 'Avg_birth_weight(g)'}, inplace = True)

In [19]:
#Check updated us_births columns
us_births.columns

Index(['State', 'State_abbrev', 'Year', 'Gender_baby', 'Education_level',
       'Education_code', 'Births', 'Avg_age_mother', 'Avg_birth_weight(g)'],
      dtype='object')

## 04. Data Quality/Consistency

### Checking for missing values

In [20]:
us_births.isnull().sum()

State                  0
State_abbrev           0
Year                   0
Gender_baby            0
Education_level        0
Education_code         0
Births                 0
Avg_age_mother         0
Avg_birth_weight(g)    0
dtype: int64

#### There are no missing values

### Checking for duplicate values

In [21]:
us_births_dups = us_births[us_births.duplicated()]

In [22]:
us_births_dups

Empty DataFrame
Columns: [State, State_abbrev, Year, Gender_baby, Education_level, Education_code, Births, Avg_age_mother, Avg_birth_weight(g)]
Index: []

#### No duplicates were found

## 05. Exporting Data Frame

In [23]:
us_births.to_csv(os.path.join(path, '02 Data','Prepared data', 'us_births_cleaned.csv'))